
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
  font-family: "Garamond", serif;
  background: linear-gradient(135deg, #cfded4, #355f3b);
  margin: 0;
  padding: 0;
}

.container {
  max-width: 850px;
  background-color: #ffffff;
  margin: 50px auto;
  padding: 40px;
  border-radius: 14px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
}


h1 {
  text-align: center;
  font-size: 30px;
  color: #355f3b;
  letter-spacing: 1px;
  font-family: "Garamond", serif;
}

h4 {
  text-align: center;
  font-weight: 400;
  color: #666;
  margin-top: 5px;
}


h3 {
  color: #355f3b;
  margin-top: 35px;
  border-left: 5px solid #355f3b;
  padding-left: 12px;
}

p {
  line-height: 1.9;
  font-size: 16.5px;
  color: #333;
  margin-top: 18px;
}

hr {
  border: none;
  height: 2px;
  background: linear-gradient(to right, #355f3b, #355f3b);
  margin: 35px 0;
  border-radius: 5px;
}

ul {
  margin-top: 15px;
  padding-left: 25px;
}

li {
  margin-bottom: 10px;
  font-size: 16px;
  color: #355f3b;
  position: relative;
}

li::marker {
  color: #355f3b;
  font-size: 18px;
}

h3:last-of-type {
  text-align: center;
  border: none;
  color: #444;
  margin-top: 40px;
  letter-spacing: 2px;
}
.content-image {
  display: block;
  max-width: 100%;
  width: 420px;              /* adjust if you want bigger/smaller */
  margin: 30px auto 40px;    /* centers image with spacing */
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
  border: 4px solid #c4d6c8;
}
