body {
  margin: 0;
  padding: 0;
  font-family: "Garamond", serif;
  background: linear-gradient(135deg, #cfded4, #355f3b);
  color: #2f2f2f;
}

.container {
  max-width: 850px;
  margin: 70px auto;
  background-color: #fdfdfb;
  padding: 50px 55px;
  border-radius: 12px;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.08);
  border-left: 6px solid #4f6f52;
}

h1 {
  text-align: center;
  color: #355f3b;
  letter-spacing: 3px;
  margin-bottom: 5px;
  font-size: 28px;
}

h3 {
  text-align: center;
  color: #6b8f71;
  margin-top: 0;
  font-weight: normal;
}

.content-image a{
  display: block;
  max-width: 100%;
  width: 420px;              /* adjust if you want bigger/smaller */
  margin: 30px auto 40px;    /* centers image with spacing */
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
  border: 4px solid #c4d6c8;
}

p {
  margin-top: 28px;
  line-height: 1.9;
  font-size: 16.5px;
  text-align: justify;
  text-indent: 55px;
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

hr {
  margin: 35px 0;
  border: none;
  height: 1px;
  background-color: #c4d6c8;
}

h3 {
  text-align: center;
  color: #4f6f52;
  font-weight: normal;
  margin-top: 40px;
  letter-spacing: 1px;
}
.content-image {
  display: block;
  max-width: 100%;
  width: 420px;              /* adjust if you want bigger/smaller */
  margin: 30px auto 40px;    /* centers image with spacing */
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
  border: 4px solid #c4d6c8;
}

